*.sln.DotSettings.user
/NuGet.targets
/NuGet.exe
/NuGet.Config
/EtalonTestProject.pdb
/EtalonTestProject.csprojResolveAssemblyReference.cache
/EtalonTestProject.csproj.FileListAbsolute.txt
/EtalonSolution.v11.suo
